// Background Colors
$primary-bg: #ffffff;
$secondary-bg: #f0f2f5;

// Colors
$light-gray: #e9edef;
$light-black: #111B21;
$dark-gray: #6B7C85;
$light-green: #D9FDD3;

// Font Sizes
$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;